@use "variables" as *;

.coming_soon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 4rem;
  text-align: center;

  &__title {
    color: $color_text;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    color: $color_text_muted;
    font-size: 0.875rem;
    margin: 0;
  }
}
