@use "variables" as *;

.admin_layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 14rem;
    flex-shrink: 0;
    background-color: $color_white;
    border-right: 1px solid $color_border;
    padding: 1.5rem 0;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style: none;
    margin: 0;
    padding: 0 0.75rem;
  }

  &__nav_link {
    display: block;
    border-radius: $radius_sm;
    color: $color_text_muted;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    text-decoration: none;

    &:hover {
      background-color: $color_bg;
      color: $color_text;
    }

    &--active {
      background-color: $color_primary_light;
      color: $color_primary;
    }
  }

  &__main {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    background-color: $color_bg;
  }
}
