@use "variables" as *;

.not_found {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;

  &__title {
    color: $color_text;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
  }

  &__message {
    color: $color_text_muted;
    font-size: 1.125rem;
    margin: 0;
  }

  &__action {
    background-color: $color_primary;
    border-radius: $radius_sm;
    color: $color_white;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.625rem 1.25rem;
    text-decoration: none;

    &:hover {
      background-color: $color_primary_dark;
    }
  }
}
